@media screen and (max-width: 1919px)
  .page
    .offer
      &__img
        width: 100%
        min-width: initial

@media screen and (max-width: 1780px)
  .page
    .achievements
      &__left
        .decoration
          &-drone1
            width: 397px
            left: -560px
            top: -265px

@media screen and (max-width: 1680px)
  body
    .h2
      font-size: 28px
      margin: 60px 0 30px
    li
      font-size: 18px
      line-height: 28px
      margin-bottom: 26px
    .container
      &-l
        width: 1285px
        padding-left: 90px
      &-m
        width: 1036px

  .page
    .header
      height: 698px
      &__content
        left: 48%
        &-zsu
          left: -680px
        &-military
          left: -540px
        &-name
          width: 364px
        &-slogan
          width: 620px
    .about
      &__content
        height: 670px
      .h1
        width: 870px
        font-size: 42px
        margin-bottom: 35px
      &__left
        width: 430px
        font-size: 25px
        line-height: 34px
      &__right
        width: 640px
        &-txt
          font-size: 18px
          line-height: 28px
          margin-bottom: 27px
      &__goal
        bottom: -159px
        width: 445px
        padding: 60px 19px
        font-size: 27px
        line-height: 36px
        &::before
          width: 35px
          height: 35px
          top: -20px
          left: calc(50% - 15px)
    .tasks
      &__content
        .h2
          margin-left: 38px
      &__left
        margin-bottom: 40px
        &-img
          width: 235px
      &__right
        margin-bottom: 20px
        li
          &:before
            width: 9px
            height: 9px
            left: -29px
            top: 8px
      .decoration
        &-base
          width: 238px
          left: -322px
          bottom: -48px
    .photos
      width: 1204px
      .slider
        width: 1204px
        height: 525px
        justify-content: flex-end
        &__slide
          width: 1095px
        &__wrapper
          width: 91%
    .achievements
      margin-bottom: 115px
      &__info
        padding: 65px 55px 40px 16px
      &__left
        &-text
          font-size: 28px
          line-height: 35px
        &-img
          width: 250px
        .decoration
          &-drone1
            width: 297px
            left: -397px
            top: -220px
          &-drone2
            width: 145px
            left: -339px
          &-drone3
            width: 72px
            left: -240px
      &__right
        width: 41%
        li
          &:not(:last-child)
            margin-bottom: 55px
    .person
      &__content
        width: 1211px
      &__left
        width: 29%
        &-img
          width: 230px
          height: 230px
          &::after
            width: 245px
            height: 245px
        .decoration
          &-ip
            width: 300px
            left: -210px
            top: -135px
        &-inst
          right: -33px
          svg
            width: 50px
        &-caption
          font-size: 18px
          line-height: 26px
          span
            font-size: 27px
      &__right
        width: 635px
      &__blockquote
        font-size: 42px
        line-height: 47px
        &:before
          top: 25px
          left: -42px
          width: 87px
          height: 45px
        &:after
          top: 25px
          width: 87px
          height: 45px
      &__info
        &-txt
          font-size: 18px
          line-height: 29px
          margin-bottom: 29px
    .offer
      &__content
        margin-bottom: 20px
      &__text
        &-left
          width: 220px
      &__recVideo
        left: -91px
        width: 75px
        &::before
          width: 9px
          height: 9px
          left: 8px
      &__video
        left: -90px
        width: 373px
        height: 299px
      &__img
        min-width: 110%
        margin-left: 40px
      .decoration
        &-line
          width: 230px
          left: -207px
          bottom: 275px
        &-alphabet
          width: 125px
          left: -207px
    .join
      padding-left: 0
      &__top
        .h2
          font-size: 42px
        &-right
          width: 420px
          font-size: 22px
          line-height: 32px
      &__bottom
        &-age
          font-size: 34px
          width: 370px
          height: 90px
        &-agit
          font-size: 26px
    .form
      &__container
        padding-left: 0

@media screen and (max-width: 1572px)
  .page
    .tasks
      .decoration
        &-base
          width: 200px
          left: -281px
          bottom: -32px
    .achievements
      &__left
        .decoration
          &-drone1
            width: 230px
            left: -330px
          &-drone2
            width: 130px
            left: -309px
    .person
      &__left
        .decoration
          &-ip
            width: 250px
            left: -160px
    .footer
      margin: 50px auto
      padding-bottom: 20px
      &__top
        margin-bottom: 50px
        &-insta
          font-size: 22px
          svg
            width: 60px
            height: 60px
        &-img
          width: 200px
        &-email
          font-size: 22px
      &__bottom
        p
          font-size: 12px

@media screen and (max-width: 1482px)
  body
    .container
      &-l
        width: 1141px
        padding-left: 0
      &-s
        margin: 0 auto
  .page
    .header
      height: 635px
      &__content
        &-zsu
          left: -600px
          width: 200px
          top: -130px
        &-military
          width: 385px
          bottom: -88px
          left: -453px
        &-name
          width: 310px
          margin-bottom: 30px
        &-slogan
          width: 530px
        &-btn
          width: 240px
          height: 50px
          font-size: 20px
    .tasks
      .decoration
        &-base
          display: none
    .person
      &__left
        .decoration
          &-ip
            display: none
          &-coord
            display: none
    .achievements
      &__left
        .decoration
          &-drone1
            top: 216px
            width: 207px
            left: -246px
          &-drone2
            display: none
          &-drone3
            display: none
    .offer
      .decoration
        &-line
          display: none
        &-alphabet
          display: none
      &__img
        margin-left: 0
        min-width: 100%

@media screen and (max-width: 1383px)
  .page
    .achievements
      &__left
        .decoration
          &-drone1
            top: 353px
            width: 197px
            left: -200px

@media screen and (max-width: 1300px)
  body
    .container
      &-l
        width: 1118px
      &-s
        margin-right: 12px
  .page
    .header
      height: 520px
      &__content
        top: 100px
        &-zsu
          left: -525px
          width: 170px
          top: -70px
        &-military
          width: 326px
          bottom: -81px
          left: -400px
        &-name
          width: 270px
          margin-bottom: 30px
        &-slogan
          width: 450px
        &-btn
          width: 192px
          height: 40px
          font-size: 16px
    .about
      &__goal
        bottom: -160px
    .photos
      width: 1108px
      margin-bottom: 0
      .slider
        width: 1020px
        height: 506px
        margin-right: 48px
        &__slide
          width: 928px
    .achievements
      margin-bottom: 100px
      &__left
        &-text
          left: -93px
        .decoration
          &-drone1
            left: -113px
            top: 366px
    .person
      &__content
        width: 1080px
    .offer
      &__video
        left: -18px
      &__recVideo
        left: -18px

@media screen and (max-width: 1172px)
  body
    .h2
      margin: 30px 0 25px
    li
      font-size: 16px
      line-height: 25px
      margin-bottom: 20px
    .container
      &-l
        width: 900px
      &-m
        width: 900px
      &-s
        width: 750px
        margin-right: 30px
  .page
    .header
      height: 486px
      &__content
        &-zsu
          left: -464px
          width: 149px
          top: -70px
        &-military
          width: 299px
          bottom: -48px
          left: -345px
    .about
      &__content
        height: 605px
        .h1
          width: 700px
          font-size: 34px
      &__left
        width: 35%
        font-size: 20px
        line-height: 27px
      &__right
        width: 55%
        &-txt
          font-size: 16px
          line-height: 23px
      &__goal
        width: 360px
        font-size: 22px
        line-height: 29px
        bottom: -133px
    .tasks
      &__right
        margin-bottom: 0
    .photos
      width: 809px
      .slider
        width: 994px
        margin-right: -15px
        height: 429px
        &__slide
          width: 750px
    .achievements
      &__info
        padding: 35px 40px 20px 13px
      &__left
        &-text
          top: 40px
      .decoration
        &-drone1
          left: -140px
          top: 319px
    .person
      &__content
        width: 900px
      &__right
        width: 61%
      &__blockquote
        font-size: 35px
        line-height: 43px
        &::before,
          &::after
          width: 78px
          height: 40px
      &__info
        &-txt
          font-size: 16px
          line-height: 27px
    .offer
      &__recVideo
        left: 23px
      &__video
        width: 300px
        height: 240px
        left: 23px
        top: 82px
      &__text
        padding-left: 258px
        &-left
          width: 42%
        &-right
          width: 49%
        li
          font-size: 16px
          &:before
            top: 5px
            width: 9px
            height: 9px
            left: -23px
    .form
      &__container
        width: 925px
        &-right
          width: 49%
      &__warning
        font-size: 18px

@media screen and (max-width: 990px)
  body
    .h2
      font-size: 23px
      margin: 42px 0 30px
    li
      font-size: 14px
      line-height: 21px
      margin-bottom: 17px
    .container
      &-l
        width: 755px
      &-m
        width: 755px
      &-s
        width: 680px

  .page
    .header
      height: 400px
      &__content
        &-zsu
          left: -365px
          width: 127px
          top: -80px
        &-military
          width: 239px
          bottom: -51px
          left: -291px
        &-name
          width: 208px
          margin-bottom: 15px
        &-slogan
          width: 350px
          margin-bottom: 35px
        &-btn
          width: 154px
          height: 32px
          font-size: 13px
    .about
      &__content
        height: 530px
        .h1
          font-size: 27px
          width: 560px
          margin: 0 auto 20px
      &__left
        font-size: 17px
        line-height: 24px
      &__right
        width: 60%
        &-txt
          font-size: 14px
          line-height: 22px
      &__goal
        padding: 40px 19px
        width: 290px
        font-size: 18px
        line-height: 26px
        bottom: -98px
        &::before
          width: 25px
          height: 25px
          top: -14px
          left: calc(50% - 7px)
    .tasks
      &__content
        padding-bottom: 25px
        .h2
          margin-left: 50px
      &__left
        &-img
          width: 200px
    .photos
      width: 800px
      .slider
        margin-right: 55px
        &__slide
          width: 678px
        &__btn
          &-prev,
            &-next
              width: 30px
              height: 30px
          &-next
            left: 17px
        &__dot
          width: 6px
          height: 6px
    .achievements
      margin-bottom: 80px
      &__left
        &-img
          width: 190px
        &-text
          left: -70px
          top: 30px
          font-size: 21px
          line-height: 30px
      &__info
        padding: 53px 40px 24px 13px
      &__right
        li
          &::before
            width: 25px
            height: 25px
            top: -6px
            left: -38px
          &:not(:last-child)
            margin-bottom: 40px
      .decoration
        &-drone1
          display: none
    .person
      &__content
        width: 755px
      &__left
        &-img
          width: 200px
          height: 200px
          &::after
            width: 210px
            height: 210px
            top: -9px
            left: -9px
            border: 4px solid $border-gray
        &-inst
          svg
            width: 40px
        &-caption
          font-size: 17px
          line-height: 24px
          span
            font-size: 24px
      &__blockquote
        font-size: 30px
        line-height: 35px
        &::before,
          &::after
          width: 62px
          height: 32px
          top: 19px
      &__info
        &-txt
          font-size: 14px
          line-height: 24px
          br
            display: none
    .offer
      margin-bottom: 25px
      &__recVideo
        width: 57px
        left: -15px
        &::before
          width: 7px
          height: 7px
          left: 6px
          top: 4px
      &__video
        left: -13px
        width: 264px
        height: 211px
        top: 54px
      &__text
        padding-left: 240px
        li
          font-size: 14px
          &:before
            top: 4px
            width: 6px
            height: 6px
            left: -18px
    .join
      &__top
        .h2
          font-size: 35px
        &-right
          width: 43%
          font-size: 17px
          line-height: 25px
      &__bottom
        &-age
          font-size: 28px
          width: 296px
          height: 72px
        &-agit
          font-size: 22px
    .form
      height: max-content
      padding-bottom: 90px
      &__container
        width: 755px
        flex-direction: column
        &-left,
          &-right
            display: flex
            flex-direction: column
            align-items: center
            width: 100%
      &__warning
        bottom: -70px
        text-align: center
      &__input
        font-size: 18px
        height: 53px
      &__success
        width: 500px
    .footer
      &__top
        &-insta
          font-size: 18px
          svg
            width: 45px
            height: 45px
            margin-right: 12px
        &-img
          width: 130px
        &-email
          font-size: 18px

@media screen and (max-width: 830px)
  body
    .h2
      margin: 20px 0 20px
    li
      font-size: 13px
      line-height: 19px
    .container
      &-l
        width: 560px
      &-m
        width: 560px
      &-s
        width: 560px
        margin-right: 0

  .page
    .header
      height: 330px
      &__content
        top: 58px
        left: 47%
        &-military
          width: 200px
          bottom: -57px
          left: -235px
        &-zsu
          left: -265px
          width: 100px
          top: -40px
        &-name
          width: 180px
        &-slogan
          width: 300px
          margin-bottom: 25px
    .about
      &__content
        padding-top: 18px
        height: max-content
      &__right
        padding-top: 0
        &-txt
          margin-bottom: 20px
      &__left
        font-size: 16px
        line-height: 22px
        width: 50%
        margin-right: 10px
      &__goal
        font-size: 15px
        line-height: 22px
        width: 250px
        padding: 35px 14px
        bottom: -67px
    .tasks
      &__content
        padding-bottom: 0
        .h2
          margin-left: 190px
      &__left
        &-img
          width: 150px
      &__right
        padding-right: 10px
        width: 53%
    .photos
      width: 600px
      .slider
        margin-right: 20px
        height: 300px
        &__slide
          width: 528px
        &__btn
          width: 20px
          height: 20px
        &__dots
          left: 33px
          gap: 3px
        &__dot
          width: 4px
          height: 4px
    .achievements
      margin-bottom: 50px
      &__info
        padding: 20px 30px 0 13px
      &__right
        li
          &:not(:last-child)
            margin-bottom: 20px
      &__left
        &-img
          width: 150px
        &-text
          left: 16px
          width: max-content
          top: 5px
          font-size: 18px
          line-height: 25px
    .person
      &__content
        width: 560px
      &__left
        &-img
          width: 160px
          margin-bottom: -20px
          &::after
            width: 170px
            height: 170px
        &-caption
          font-size: 12px
          line-height: 19px
          width: 211px
          span
            font-size: 20px
            line-height: 35px
        &-inst
          svg
            width: 30px
      &__blockquote
        font-size: 22px
        line-height: 29px
        &::before,
          &::after
            width: 50px
            height: 25px
      &__info
        &-txt
          font-size: 13px
          line-height: 22px
          margin-bottom: 20px
    .offer
      &__recVideo
        left: 8px
        top: 65px
      &__video
        width: 190px
        height: 152px
        left: 8px
        top: 115px
      &__text
        padding-left: 225px
        padding-right: 15px
        padding-bottom: 0
        li
          font-size: 12px
          &:before
            width: 4px
            height: 4px
            top: 6px
            left: -13px
        &-left
          width: 44%
    .join
      margin-bottom: 20px
      &__top
        .h2
          font-size: 28px
        &-right
          font-size: 14px
          line-height: 20px
      &__bottom
        &-age
          width: 240px
          height: 58px
          font-size: 23px
        &-agit
          font-size: 17.6px
    .form
      &__container
        width: 560px
    .footer
      &__top
        &-insta
          font-size: 15px
          svg
            width: 35px
            height: 35px
        &-img
          width: 100px
        &-email
          font-size: 15px
      &__bottom
        p
          font-size: 10px

@media screen and (max-width: 615px)
  body
    li
      font-size: 16px
      line-height: 24px
      margin-bottom: 25px
    .h2
      font-size: 22px
      line-height: 24px
      margin: 35px 0 29px
      text-align: left
      width: 61%
    .container
      &-l
        width: 85%
      &-m
        width: 100%
      &-s
        width: 85%

  .page
    overflow-x: hidden
    .header
      height: 275px
      &__content
        &-zsu
          left: -231px
        &-military
          width: 163px
          bottom: -41px
          left: -192px
        &-name
          width: 146px
          margin-bottom: 10px
        &-slogan
          width: 240px
        &-btn
          width: 124px
          height: 26px
          font-size: 11px
    .about
      &::after
        background: url('../img/line-bg-mob.svg') no-repeat 0% 0%/cover
      &__content
        .h1
          font-size: 22px
          text-align: center
          width: 100%
      &__info
        flex-direction: column
      &__left,
        &__right
          width: 100%
          font-size: 16px
          line-height: 24px
      &__left
        margin-bottom: 20px
        font-family: $font-montserrat-regular
      &__right
        position: relative
        &-txt
          font-size: 16px
          line-height: 24px
      &__goal
        width: 120%
        position: relative
        bottom: 0
        margin-top: 35px
        margin-left: -10%
        padding: 55px 7.5%
        font-size: 22px
        line-height: 28px
        &::before
          width: 24px
          height: 24px
          left: calc(50% - 13px)
    .tasks
      &__content
        margin-left: 0
        width: 100%
        .h2
          width: 357px
          margin-left: 0
      &__left
        display: none
      &__right
        width: max-content
        padding-right: 0
        padding-left: 35px
        margin: 0 auto
    .photos
      width: 100%
      justify-content: center
      margin-top: 7px
      .slider
        width: 100%
        margin-right: 0
        margin-top: -7px
        justify-content: center
        height: 287px
        &__slide
          width: 100%
        &__wrapper
          position: relative
          padding-bottom: 20px
          height: 100%
          width: 85%
        &__btn
          display: none
        &__dots
          bottom: 7px
          left: 50%
          gap: 7px
        &__dot
          width: 8px
          height: 8px
    .achievements
      margin-bottom: -20px
      &-txt
        margin: 50px auto 0
        width: 85%
        display: flex
        padding-bottom: 20px
        &.visible
          opacity: 1
      &__left
        width: 0
        &-img
          display: none
        &-text
          display: none
      &__right
        width: 100%
        li
          text-align: center
          &::before
            width: 14px
            height: 14px
            top: -26px
            left: 49%
          &:not(:first-child)
            &::before
              display: none
          &:not(:last-child)
            margin-bottom: 41px
            &::after
              position: absolute
              bottom: -25px
              left: 49%
              content: ""
              display: block
              width: 14px
              height: 14px
              background: url('../img/marker.svg') no-repeat 50% 50%/cover
      &__content
        margin: 5px auto 30px
        position: relative
        &::after
          content: ""
          position: absolute
          width: 100%
          height: 30px
          bottom: 0
          left: 0
          background: url('../img/applique.svg') no-repeat 50% 50%/cover
      &__info
        padding: 58px 20px 30px 20px
        &::before
          width: 24px
          height: 24px
        &::after
          width: 24px
          height: 24px
          top: 0
          right: 0
          left: auto
          background: url('../img/corner-right.svg') no-repeat 50% 50%/cover
    .person
      &__content
        display: flex
        flex-direction: column
        align-items: center
        width: 85%
      &__left
        &-inst
          right: -84px
          svg
            width: 36px
            height: 36px
        &-img
          width: 210px
          &::after
            width: 220px
            height: 220px
        &-caption
          width: 300px
          margin-top: 50px
          margin-bottom: 20px
          font-size: 18px
          span
            font-size: 22px
      &__right
        width: 100%
      &__blockquote
        margin: 0 auto 45px
        width: 215px
        font-size: 20px
        line-height: 24px
        &::before,
          &::after
            top: 12px
            width: 42px
            height: 22px
      &__info
        &-txt
          font-size: 16px
          line-height: 24px
    .offer
      .h2
        margin: 30px auto
        width: 85%
      &__video,
        &__recVideo
          display: none
      &__content
        width: 100%
      &__text
        padding: 0 7.5% 10px 11%
        flex-direction: column
        &-left
          width: 100%
        &-right
          width: 100%
        li
          font-size: 16px
          line-height: 24px
          &::before
            width: 8px
            height: 8px
            left: -19px
      &__img
        display: none
    .join
      margin-bottom: 40px
      &__top
        flex-direction: column
        align-items: center
        .h2
          width: max-content
          font-size: 28px
        &-right
          padding-top: 0
          width: 85%
          text-align: center
          font-size: 16px
          line-height: 24px
      &__bottom
        margin-top: 30px
        align-items: center
        &-age
          width: 234px
          height: 56px
          font-size: 22px
        &-agit
          width: 85%
          font-size: 22px
          text-align: center
    .form
      &__container
        width: 85%
      &__group
        width: 100%
      &__input
        padding: 11px 17px
        height: 44px
        width: 100%
        &-checkbox
          width: 44px
      &__radio
        &-group
          label
            input
              width: 44px
              height: 44px
      &__submit
        width: 100%
        height: 64px
      &__success
        top: 65%
        width: 300px
        height: 240px
        font-size: 32px
        text-align: center
        padding: 0 10px
    .footer
      margin-bottom: 5px
      &__top
        flex-direction: column
        align-items: center
        position: relative
        &-insta
          flex-direction: column
          align-items: center
          font-size: 20px
          margin-bottom: 50px
          svg
            margin-right: 0
            width: 72px
            height: 72px
            margin-bottom: 21px
        &-img
          position: absolute
          top: 250px
          width: 260px
        &-email
          font-size: 20px
      &__bottom
        margin-top: 325px
        p
          font-size: 14px
          width: 190px
          margin: 0 auto

@media screen and (max-width: 562px)
  .page
    .photos
      .slider
        &__dots
          bottom: 23px
    .achievements
      &-txt
        margin-top: 30px


@media screen and (max-width: 539px)
  .page
    .header
      height: 520px
      background: url('../img/fire-mob.jpg') no-repeat 50% 50%/cover
      &__video
        display: none
      &__content
        position: relative
        width: 100%
        height: 93%
        margin: 0 auto
        left: 0
        align-items: center
        top: 19px
        &-zsu
          display: none
        &-name
          width: 25%
          min-width: 107px
        &-slogan
          width: 66%
          min-width: 250px
        &-military
          width: 200px
          position: absolute
          bottom: 56px
          left: 50%
          transform: translateX(-50%)
        &-btn
          z-index: 2
          margin-top: auto
          font-size: 24px
          width: 220px
          height: 60px
    .photos
      .slider
        &__wrapper
          width: 323px
        &__dots
          bottom: 7px

@media screen and (max-width: 450px)
  .page
    .header
      &__content
        &-military
          width: 217px
    .tasks
      &__content
        .h2
          width: 85%
      &__right
        width: 85%
    .photos
      .slider
        height: 317px
        &__wrapper
          width: 83%
        &__dots
          bottom: 5px
    .achievements
      &-txt
        margin-top: 30px

@media screen and (max-width: 415px)
  .page
    .photos
      .slider
        height: 300px

@media screen and (max-width: 390px)
  .page
    .photos
      .slider
        width: 390px
        height: 280px

@media screen and (max-width: 360px)
  .page
    .photos
      .slider
        height: 250px

@media screen and (max-width: 350px)
  .page
    .about
      &__content
        .h1
          font-size: 20px
    .person
      &__left
        &-caption
          width: 260px
      &__blockquote
        font-size: 19px
        &::before
          left: -28px
        &::after
          right: -28px
    .achievements
      &-txt
        margin-top: 10px
    .form
      &__success
        width: 245px
        height: 200px

@media screen and (max-width: 335px)
  .page
    .header
      &__content
        &-slogan
          min-width: 230px
    .join
      &__top
        .h2
          font-size: 25px
    .photos
      .slider
        height: 280px
        &__dots
          bottom: 50px
    .person
      &__blockquote
        font-size: 18px
        &::before
          left: -23px
        &::after
          right: -23px
    .achievements
      &-txt
        margin-top: -15px
    .form
      &__submit
        font-size: 21px
        white-space: nowrap
      &__radio
        &-group
          label
            margin-right: 30px
    .footer
      &__top
        &-insta
          font-size: 18px
        &-email
          font-size: 18px
        &-img
          width: 240px
          left: 10px

@media screen and (max-width: 300px)
  .page
    .photos
      .slider
        height: 260px


